img{
    width: 100%;
    height: 100%;
}

#img2{
    width: 150px;
    margin-left: 500px;
}

#img3{
    width: 150px;
    position: absolute;
}

p{
    font-size: 10px;
}

#header{
    height: 75px;
    width: 100%;
    background:rgb(90, 23, 90);
    color: #eee;
}

#iss-info{
    margin-top: -750px;
    text-decoration: underline 0.1px;
}

li{
    font-family: monospace;
    padding: 15px;
    font-size: 20px;
    margin-left: 12px;
    margin-top: 1px;
}

#container{
    position: relative;
}

#list{
    position: absolute;
    margin-left: 580px;
}

#info-list{
    width: 100%;
}

ul{
    list-style-type: none;
    display: flex;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline 0.1px;
    
}

h1{
    position: absolute;
    color: white;
    font-family: monospace;
    font-size: 30px;
    margin-left: 35px;
    margin-top: 25px;
}

h2{
    font-family: monospace;
    font-size: 25px;
    margin-left: 10px;
    margin-top: -650px;
    color: white;
}

#show-numPeople{
    font-family: monospace;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 75px;
    color: white;
    text-decoration: underline 0.1px;
}

#show-numPeople2{
    font-size: 20px;
   
}

p{
    font-family: monospace;
    color: white;
    font-size: 18px;
    margin-left: 10px;
    width: 60%;
}

#astroNames{
    font-family: monospace;
    font-size: 10px;
    position: absolute;
    margin-top: -25px;
    width: 30%;
    color: white;
    display: block;
    list-style-type: decimal;
}

#button{
    position: absolute;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    font-family: monospace;
    font-size: 20px;
    background-color: rgb(90, 23, 90);
    color: white;
    border: none;
    margin-top: 700px;
    margin-left: 480px;
}

#button a:hover{
    text-decoration: underline 0.1px;
}

#read-more{
    border-radius: 5px;
    height: 40px;
    width: 180px;
    font-family: monospace;
    font-size: 20px;
    background-color: rgb(90, 23, 90);
    color: white;
    border: none;
    margin-left: 465px;
    margin-top: 50px;
}

#read-more a:hover{
    text-decoration: underline 0.1px;
}

#iss-info-p{
    text-align: left;
    width: 99%;
}

#button2{
    position: absolute;
    border-radius: 5px;
    height: 40px;
    width: 180px;
    font-family: monospace;
    font-size: 17px;
    background-color: rgb(90, 23, 90);
    color: white;
    border: none;
    margin-top: 200px;
    margin-left: 600px;
    
}

#crew{
    position: absolute;
    display: none;
    font-size: 15px;
    width: 40%;
    margin-top: 70px;
    margin-left: 485px;
    line-height: 22px;
}





